.bg-register-img {
	background-color: #0e2f44;
	background-position: 80%;
	background-size: cover;
}

.bg-customizer {
	/* The image used */
	background-color: #420420;
	/* Half height */
	height: 50%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

form.outputInfo .custom-checkbox.small label {
	line-height: 1.5rem;
}

form.outputInfo .form-control-outputInfo {
	font-size: 0.8rem;
	border-radius: 10rem;
	padding: 1.5rem 1rem;
}

form.outputInfo .btn-outputInfo {
	font-size: 0.8rem;
	border-radius: 10rem;
	padding: 0.75rem 1rem;
}

#addNewOutputInfo {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

#addNewOutputInfo:hover {
	color: #ffffff !important;
	background: #420420;
	border-color: #420420 !important;
	transition: all 0.4s ease 0s;
}

.btn-addmore {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.btn-addmore:hover {
	color: #ffffff !important;
	background: #420420;
	border-color: #420420 !important;
	transition: all 0.4s ease 0s;
}

.btn-remove {
	color: #fe4a49  !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #fe4a49  !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.btn-remove:hover {
	color: #ffffff !important;
	background: #fe4a49 ;
	border-color: #fe4a49  !important;
	transition: all 0.4s ease 0s;
}

.my-select {
	margin: auto;
}

.OptionSelectProduct {
	border-radius: 10rem;
	text-align-last:center;
	font-size: 0.9rem;
}

.label {
	font-weight: bold;
	padding-left: 10px;
	font-style: oblique;
	text-decoration: underline;
	color: navy;
	
}

.OptionSelectCustomer {
	border-radius: 10rem;
	text-align-last:center;
	font-size: 0.9rem;
}
